<div class="main-container">
    <header class="header-6">
      <div class="branding">
        <a href="..." class="nav-link">
          <clr-icon shape="vm-bug"></clr-icon>
          <span class="title">Project Clarity</span>
        </a>
      </div>
      <div class="header-nav">
        <a href="javascript://" routerLink="/admin/home" routerLinkActive="active" class="nav-link nav-text">หน้าหลัก</a>
        <a href="javascript://" routerLink="/admin/users" routerLinkActive="active" class="nav-link nav-text">สมาชิก</a>
      </div>
      <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="cog"></clr-icon>
        </a>
      </div>
    </header>
    <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
      <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
        <a clrVerticalNavLink routerLink="/admin/home" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
          หน้าหลัก
        </a>
        <a clrVerticalNavLink routerLink="/admin/users" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="group"></clr-icon>
          สมาชิก
        </a>
        <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
          Poison
        </a>
        <a clrVerticalNavLink routerLink="./grass" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="bug"></clr-icon>
          Grass
        </a>
        <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
          Fighting
        </a>
        <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
          Credit
        </a>
      </clr-vertical-nav>
    </div>
  </div>