<router-outlet></router-outlet>
<!-- <input type="text" [(ngModel)]="a">+<input type="text" [(ngModel)]="b">
<button class="btn btn-success" (click)="addNumber()" >=</button>
<input type="text" [(ngModel)]="c">
{{a}} + {{b}} = {{+a + +b}}
<hr>
<ul>
    <li *ngFor="let item of fluts">{{item}}</li>
</ul>
<table>
        <tr>
          <th>ID</th>
          <th>NAME</th>
        </tr>
        <tr *ngFor="let item of users">
          <td>{{ item.id }}</td>
          <td>{{ item.fullname }}</td>
        </tr>
      </table> -->
<!-- <div class="main-container">
  <header class="header-3">
    <div class="branding">
        <a href="..." class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">Project Clarity</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="..." class="nav-link nav-icon">
            <clr-icon shape="cloud"></clr-icon>
        </a>
        <a href="..." class="active nav-link nav-icon">
            <clr-icon shape="folder"></clr-icon>
        </a>
    </div>
    <form class="search">
        <label for="search_input">
            <input id="search_input" type="text" placeholder="Search for keywords...">
        </label>
    </form>
    <div class="header-actions">
        <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger>
                <clr-icon shape="user"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="..." clrDropdownItem>About</a>
                <a href="..." clrDropdownItem>Preferences</a>
                <a href="..." clrDropdownItem>Log out</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>
<nav class="subnav">
  <ul class="nav">
      <li class="nav-item">
          <a class="nav-link active" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Management</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Cloud</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Tenants</a>
      </li>
  </ul>
</nav>
<div class="content-container">
      <div class="content-area">
          <router-outlet></router-outlet>
      </div>
      <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
        <a clrVerticalNavLink routerLink="./normal" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
            Normal
        </a>
        <a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
            Electric
        </a>
        <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
            Poison
        </a>
        <a clrVerticalNavLink routerLink="./grass" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="bug"></clr-icon>
            Grass
        </a>
        <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
            Fighting
        </a>
        <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
            Credit
        </a>
    </clr-vertical-nav>
  </div>
</div> -->
