<div class="login-wrapper">
  <form class="login">
      <section class="title">
          <h3 class="welcome">ยินดีต้อนรับสู่</h3>
          Mahachachai Health Datacenter
          <h5 class="hint">กรุณาใส่ user password หากไม่ทราบให้ติดต่อผู้ดูแลระบบ</h5>
      </section>
      <div class="login-group">
          <input class="username" type="text" name="login_username" placeholder="Username" [(ngModel)]="username">
          <input class="password" type="password" name="login_password" placeholder="Password" [(ngModel)]="password">
          <div class="error active" *ngIf="isError">
              {{errMsg}}
          </div>
          <button type="button" class="btn btn-primary" (click)="doLogin()" [disabled]="!username||!password">NEXT</button>
          <a href="javascript://" class="signup">Sign up for a Company ID</a>
      </div>
  </form>
</div>